<div class="container">
	<h3>コメント一覧</h3>
	<table>
		<% @comments.each do |comment| %>
			<tr>
				<td><%= comment.body %></td>
				<td><%= link_to "削除",  comment_path(comment), method: :delete %></td>
			</tr>
		<% end %>
	</table>
</div>