<div class="container">
	<div class="row">
        <div class="col-xs-3">
			<h2>体重・編集</h2>
			<%= form_for [@baby, @body_weight] , url:baby_body_weights_path(id:@body_weight.baby_id ) do |f| %>
			<% if @body_weight.errors.any? %>
               <% @body_weight.errors.full_messages.each do |message| %>
               <li><%= message %></li>
            <% end %>
            <% end %>
				<%= f.text_field :body %><br>
				<%= f.submit '保存する' ,class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>