<div class="container">
	<div class="modal1">
			<h2>体重・編集</h2>
			<%= form_for [@baby, @body_weight] , url:baby_body_weights_path(id:@body_weight.baby_id ) do |f| %>
			<% if @body_weight.errors.any? %>
               <% @body_weight.errors.full_messages.each do |message| %>
               <li><%= message %></li>
            <% end %>
            <% end %>
				<%= f.text_field :body,placeholder: "数値のみでOK" %><br>
				<%= f.submit '保存する' ,class: "textfield-btn" %>
			<% end %>
	</div>
</div>