<h2>みんなのお悩み</h2>
<table>
	<tbody>
	 <% @problems.each do |problem| %>
<tr>
<td><%= link_to @problems.body,problem_path(problem) %></td>
</tr>
</tbody>
</table>
<% end %>
<%= link_to "相談する",new_problem_path  %>