<h2>みんなのお悩み</h2>
<%= link_to "相談する",new_problem_path  %>
<%= link_to :back do %>
  <label>戻る</label>
<% end %>
<table>
	<tbody>
	 <% @problems.each do |problem| %>
<tr>
<td><%= link_to problem.body,problem_path(problem) %></td>
</tr>
</tbody>
</table>
<% end %>
