<h2>お悩み投稿</h2>
	<%= form_for(@problem) do |f| %>
	<h4>カテゴリー</h4>
	 <%= f.select :category_id, Category.all.map { |category| [category.problem_name, category.id] } %><br>
	<h4>内容</h4>
	<%= f.text_area :body %>
	<%= f.submit '投稿する' %>
	<% end %>
