<% if comment.favorited_by?(current_customer) %>
	<td>
		<%= link_to  comment_likes_path(comment.id), method: :delete, remote: true do %>
			<span class="fa fa-heart like-btn-unlike"></span>
		<% end %>
		<%= comment.likes.count %>
		<% else %>
		<%= link_to  comment_likes_path(comment.id), method: :post, remote: true do  %>
			<span class="fa fa-heart like-btn"></span>
		<% end %>
		<%= comment.likes.count %>
	</td>
<% end %>
