<div class="container">
	<div class="modal1">
        <div class="box">
            <p class="tokei-box" id="RealtimeClockArea2"></p>
            <h2>母乳・記録</h2>
            <h2 class="time" id="timerLabel">00:00</h2>
                <input type="button" class="myButton" onclick="start()" value="START" id="startBtn">
                <input type="button" class="myButton" onclick="stop()" value="STOP">
                <input type="button" class="myButton" onclick="reset()" value="RESET">
            <%= form_for [@baby, @mother_milk] do |f| %>
            	<%= f.text_area :body %><br>
            	<%= f.submit '保存する',class: "btn btn-primary"  %>
            <% end %>
            <%= link_to "戻る", baby_path(@baby.id) %>
        </div>
    </div>
</div>

<script>
    	function set2fig(num) {
       var ret;
       if( num < 10 ) { ret = "0" + num; }
       else { ret = num; }
       return ret;
    }
    function showClock2() {

       var nowTime = new Date();
       var nowHour = set2fig( nowTime.getHours() );
       var nowMin  = set2fig( nowTime.getMinutes() );
       var msg =  "時刻 " + nowHour + "時" + nowMin + "分" ;
       document.getElementById("RealtimeClockArea2").innerHTML = msg;
    }
    setInterval('showClock2()',1000);
</script>
<script>
    var status = 0;
    var time = 0;
    var startBtn = document.getElementById("startBtn");
    var timerLabel = document.getElementById('timerLabel');

	function start(){
        status = 1;
        startBtn.disabled = true;

        timer();
    }
    function stop(){
        status = 0;
        startBtn.disabled = false;
    }

    function reset(){
        status = 0;
        time = 0;
        timerLabel.innerHTML = '00:00';
        startBtn.disabled = false;
    }

    function timer(){
        if (status == 1) {
            setTimeout(function() {
                time++;

                var min = Math.floor(time/100/60);
                var sec = Math.floor(time/100);
                var mSec = time % 100;

                if (min < 10) min = "0" + min;
                if (sec >= 60) sec = sec % 60;
                if (sec < 10) sec = "0" + sec;

                timerLabel.innerHTML = min + ":" + sec ;
                timer();
            }, 10);
        }
    }
    document.onkeydown = function(event) {
        if (event) {
            if (event.keyCode == 13 || event.which == 32) {
                if(status == 1) {
                    stop();
                } else if (status == 0) {
                    start();
                }
            }
        }
    };
</script>