<div class="container">
	<div class="modal1">
		<h3>お悩み詳細</h3>
		<div style="font-size:20px;"><%= @problem.customer.name %></div>
		<div style="font-size:25px;"><%= @problem.body %></div>
		<div><%= link_to admins_problem_path(@problem), method: :delete do %>
			<i class="far fa-trash-alt"></i>
			<% end %>
		</div>
	</div>
</div>

