<div class="container">
	<div class="row">
        <div class="col-xs-6">
<h2>このアプリについて</h2>
<%= image_tag 'baby-image.jpg', size: '500x250' %><br>
<%= link_to "赤ちゃん登録/選択画面へ", root_path %>
</div>
<div class="col-xs-6">
<div class="side">
	<h4>①赤ちゃん登録</h4>
	<p>管理したい赤ちゃん登録しましょう。登録した赤ちゃんはヘッダーから選択できるようになります。</p>
	<h4>②データを入力</h4>
	<p>5つの項目から選択し保存しましょう。母乳とオムツは何も入力しなくて構いません。</p>
	<h4>③保存データの確認</h4>
	<p>「履歴」から過去のデータが確認できます。</p>
	<h4>④お悩み相談</h4>
	<p>子育てに関する悩みはヘッダーの「悩みを相談」から投稿しましょう。</p>
	<h4>⑤コメント</h4>
	<p>相談内容をクリックするとコメントが投稿できる画面へ遷移します。積極的に相談に乗りましょう。</p>
	<h4>⑥いいね</h4>
	<p>役立つコメントには「いいね」しましょう。いいねの数で役立つ情報に気づきやすくなります。</p>

</div>
</div>
</div>
</div>