<div class="container">
	<div class="row">
        <div class="col-xs-6">
<h2>このアプリについて</h2>

<%= image_tag 'baby-image.jpg', size: '500x250' %>
</div>
<div class="col-xs-6">
<div class="side">
	<h2>eeeeee</h2>
	<p>aaaaaaaa</p>
</div>
</div>