<div class="container">
	<div class="row baby-content">
        <div class="about-box">
			<%= image_tag 'baby-image.jpg', size: '500x250'  %><br>
			<h3>大切な赤ちゃんを守るために...</h3>
			<p>赤ちゃんの身体はとてもか弱く、いつ何が起きるか予想できません。赤ちゃんは身体の変化を自分で伝えることが出来ません。どれだけ辛く苦しい状況でも、親の助けを待つしかないのです。しかし、必ずサインは発しています。<br>当アプリは、必ず記録して欲しい情報だけを選びました。毎日の記録を習慣化し、赤ちゃんからのサインを見逃さないようにしましょう。<br>このアプリが育児の手助けになれば幸いです。</p>
		</div>
		<div class="boxs">
			<div class="box1">
				<h4>①赤ちゃん登録</h4>
				<p>管理したい赤ちゃん登録しましょう。登録した赤ちゃんはヘッダーから選択できるようになります。</p>
			</div>
			<div class="box2">
				<h4>②データを記録</h4>
				<p>5つの項目から選択し保存しましょう。母乳とオムツは何も入力しなくて構いません。</p>
			</div>
			<div class="box3">
				<h4>③子育て相談室</h4>
				<p>子育てに困ったらみんなに相談しましょう。誰かがコメントしてくれるかも。</p>
			</div>
			<div class="box4">
				<h4>④Baby自慢室</h4>
				<p>赤ちゃんの画像を投稿して自慢しよう！</p>
			</div>
			<div class="box5">
				<h4>⑤コメント</h4>
				<p>子育て相談室やBaby自慢室の各投稿にコメントできます。積極的にコメントしよう！</p>
			</div>
			<div class="box6">
				<h4>⑥いいね</h4>
				<p>役立つコメントには「いいね」しましょう。いいねの数で役立つ情報に気づきやすくなります。</p>
			</div>
		</div>
	</div>
</div>