<h2>悩みのカテゴリ-追加・一覧</h2>
<%= form_for(@category, url:admin_categories_path) do |f| %>
<label>カテゴリー<%= f.text_field :problem_name %></label>
<%= f.submit '追加' %>
<% end %>

<table>
	<tr>
		<th>カテゴリー名</th>
	</tr>
	<tbody>
		<tr>
		<% @categories.each do |category| %>
		<td><%= category.problem_name %></td>
		</tr>
		<% end %>
	</tbody>
</table>



