/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

*{box-sizing :border-box;}

.first-item .second-p {

}


html, body{
  margin: 0;  /* 余白の削除 */
  padding: 0; /* 余白の削除 */
  height: 100%; /* 縦の高さを100% */
  width: 100%;  /* 横の幅を100% */
  background-color:#F0F8FF;
}

img {
    max-width: 100%;
    height: auto;
}

header{
 height: 80px;
 font-size: 15px;
 background-color:gold;
 color:#664d51;
 width:100%;
 position:fixed;
 top:0px;
 z-index:10;

 }

 .navbar-brand{
 position: absolute;
 width: 100%;
 left: 0;
 text-align: center;
 margin:0 auto;

}

li{
	display: inline-block;
}
 body{
 color:#664d51;
 min-height: 100%;
 font-family: 'M PLUS Rounded 1c', sans-serif;
 }


.col-xs-10{
	width:100%;
}
.tokei-box{
	 width: 100%;
	 font-family:"serif";
	 font-size:25px;

}

.green {
    filter: invert(17%) sepia(91%) saturate(7085%) hue-rotate(128deg) brightness(100%) contrast(106%);
}

.btn{
	margin-top:10px;
}

.myButton{
	margin-bottom:20px;
	font-family: 'Roboto Slab', serif;
}

a:hover{
 color:#664d51;
 text-decoration: none;
 }

.text-area{
	margin-top:10px;
}

.like{
	padding:111px;
}

.table{
	font-size:20px;
}

.category{
	background-color:red;
}

.navbar-right{
	padding-top:35px;
}

.ploblem-image{
	background-image:  image-url('back-image1.jpg');
}

.paginate {
	a {
		text-decoration: none;
		color: #74645C;
		&:hover{
			color:#BEB098;
		}
	}
	}
nav ul li{
    display: inline;
    width:20%;
    }

.wrap{
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
     }

.contents{
	padding-top:70px;
}

.modal1 {
  margin:0 auto;
  margin-top:100px;
  background-color: #e6ecf0;
  padding: 40px 0 40px;
  border-radius: 10px;
  width: 35%;
  height: auto;
  text-align: center;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  text-align:center;
  line-height:50px;
}

footer {
  height:50px;
  background-color:gold;
}

input[type="date"] {
  padding: 10px;
  text-align: center;
}

input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}
.admin-box{
  margin-top:50px;
}

.menu-icon {
  color: black;
  float: right;
  font-size: 25px;
  padding: 20px 30px;
  display:none;
  
}

.baby-name{
  padding-top:18px;
  text-align: center;
  margin:0 auto;
  position: absolute;
  width: 50%;
  margin-left:25%;
  font-size:30px;
}



@media(max-width: 1000px){
  .modal1{
   width: 300px;
   padding:10px;
   margin-top:15px;
  }

}
@media(max-width: 670px){
  .modal1{
  margin-top:50px;
  }
  .logo2{
  display:none;
  }

  .baby-name{
  font-size:20px;
  }

  .nav-right{
  display:none;
  }
  .menu-icon{
  display:block;
  }
  nav ul li {
  display:block;
  width:100%;
  }
  .menu i {
  display:none;
  }

  .menu-icon-open{
  background-color:red;
  desplay:block;
  }
}


.nav-right{
  font-size:15px;
  text-align:right;
  padding:30px;
  width:40%;
  float:right;
}

.logo2{
   float:left;
   width:15%;
   margin-left:40px;
}


.menu.active {
    transform: translateY(0%);
}


.nav-open{
  position: fixed;
  background-color:white;
  top: 80px;
  right:0;
  width: 140px;
  height: 30vh;
  text-align:left;
  z-index: 200;
}

.close-icon{
  float: right;
  font-size: 25px;
  padding: 20px 30px;
  display:none;
}
