/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

input[type="date"] {
  padding: 10px;
  text-align: center;
}

input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}

header{
 height: 70px;
 font-size: 15px;
 background-color:gold;
 color:#664d51;
 margin-bottom: 10px;
 width:100%;

 }

 .navbar-brand{
 position: absolute;
 width: 100%;
 left: 0;
 text-align: center;
 margin:0 auto;
 font-size:35px;
 padding-top:25px;
}

li{
	display: inline-block;
}
 body{
 color:#664d51;
 height: 100%;
 padding:0;
 margin:0 auto;
 font-family: 'M PLUS Rounded 1c', sans-serif;
 background-image:  image-url('back-image.jpg');
 background-size:cover;
 background-potion:left;
 }

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

footer{
	width:100%;
	height:70px;
	bottom: 0;
	position: fixed;
	background-color:palegoldenrod;


}
.col-xs-10{
	width:100%;
}
.tokei-box{
	 width: 100%;
	 font-family:"serif";
	 font-size:25px;

}
.green {
    filter: invert(17%) sepia(91%) saturate(7085%) hue-rotate(128deg) brightness(100%) contrast(106%);
}
.btn{
	margin-top:10px;
}
.myButton{
	margin-bottom:20px;

	font-family: 'Roboto Slab', serif;

}
.haisetu{
	display: inline-block;
	text-align: center;
	margin-right:5px;
}
.item{
	display: inline-block;
}
.items{
 text-align: center;
 margin-top:30px;
 }
 a:hover{
 color:#664d51;
 text-decoration: none;
 }
.text-area{
	margin-top:10px;
}


.like{
	padding:111px;
}
.table{
	font-size:20px;
}
.category{
	background-color:red;
}
.box{
	padding-left:100px;
	padding-top:30px;
}
.haisetu{
	float:left;
}
.navbar-right{
	padding-top:35px;
}

.ploblem-image{
	background-image:  image-url('back-image1.jpg');
}
.footer-text{
	font-size:30px;
	padding-top:15px;
}
.paginate {
	a {
		text-decoration: none;
		color: #74645C;
		&:hover{
			color:#BEB098;
		}
	}
	}
