// Place all the styles related to the babys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.baby-btn{
	width:200px;
}

.baby-modal{
	padding-bottom:20px;
	padding-left:40px;
	text-align:left;
}
.btn2{
	margin-left:40px;
}

.history-date{
	margin-top:30px;
}

.items {
	text-align: center;
	margin-top:30px;
	display:flex;
	flex-wrap :wrap;
	padding:20px;
}
.item {
	flex:auto;
	width:33%;
	padding-bottom:20px;
}

@media(max-width: 670px){
	.items{
	display:flex;
	flex-wrap :wrap;
	}
	.item{
	width:50%;
	}
}