// Place all the styles related to the babys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.baby-btn{
	width:200px;
}

.baby-modal{
	padding-bottom:20px;
	padding-left:40px;
	text-align:left;
}
.btn2{
	margin-left:40px;
}

.history-date{
	margin-top:30px;
}

.mothermilk{
	padding-left:8px;
}
.mothermilk2{
	padding-right:6px;
}

.items {
	text-align: center;
	margin-top:30px;
	display:flex;
	flex-wrap :wrap;
	padding-top:30px;

}
.item {
	position: relative;
	flex:auto;
	width:33%;
}

.item a {
	color:black;
	opacity:1.0;
}

.item a:hover{
 color:#FF4F02;
 text-decoration: none;
 }

.first-item .first-p {
	position:absolute;
	top:35%;
	left:40%;
	font-size:25px;
}

.first-item {
	margin-bottom:50px;
}

.first-item .second-p {
	position:absolute;
	top:50%;
	left:37%;
	font-size:15px;
	width:28%;
	font-family:"Times New Roman";
}

.socond-item .first-p {
	position:absolute;
	top:35%;
	left:43%;
	font-size:25px;
}

.socond-item .second-p {
	position:absolute;
	top:50%;
	left:37%;
	font-size:15px;
	width:26%;
	font-family:"Times New Roman";
}

@media(max-width: 670px){
	.items{
	display:flex;
	flex-wrap :wrap;
	width:80%;
	text-align:center;
	margin:0 auto;
	}
	.item{
	width:50%;
	margin-bottom:10px;
	padding-right:10px;
	}
	.first-item .second-p {
	display:none;
	}
	.socond-item .second-p{
	display:none;
	}
	.first-item .first-p {
	left:23%;
	}
	.socond-item .first-p {
	left:30%;
	top:33%;
	}
}

.history-date {
	margin-bottom:15px;
}

