// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-exclamation-triangle{
	color:red;
	padding-left:10px;
}
.fa-praying-hands{
	color:darkorange;
}

.fa-thumbs-up{
	color:mediumblue;
}

.fa-thumbs-down{
	color:red;
}