// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_info{
	margin-bottom:30px;
}
.self_image{
	margin-bottom:5px;
}
.input-image{
	display:none;
}

.mybtn{
	margin:10px;
}
.my-name{
	margin-left:50px;
}
.my-name-field{
	width:130px;
	margin-right:50px;
}