// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box1 {
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #2c2c2f;
    background: yellow;
    height:90px;
}


.box2 {
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #2c2c2f;
    background: dodgerblue;
        height:90px;

}



.box3 {
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #2c2c2f;
    background: peru;
        height:90px;

}



.box4 {
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #2c2c2f;
    background: lightcoral;
        height:90px;

}



.box5 {
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #2c2c2f;
    background: springgreen;
        height:90px;

}



.box6 {
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #2c2c2f;
    background: orangered;
        height:90px;

}

.side{
	height:50px;
}
.about-box{
	margin-top
	:1em;
	font-family: 'Playfair Display', serif;
	font-size:20px;
	}