// Place all the styles related to the milk_powders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.milk-powder-select select{
  width: 15%;
  height: 30px;
  text-indent: 0.01px;
}
.aa{
	font-size:20px;
}