// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search{
	text-align:right;
	margin-top:20px;
}
ul.problem-list {
  padding: 0;
}

.problem {
	margin:0 auto;
}

.problem-content{
	font-size:20px;
	word-wrap: break-word;
	margin-top:40px;

	padding:30px;
	border-radius: 10px;
}
.problem-comment{
	width:100%;
	font-size:15px;
}

.problem-wrapper h1{
	font-size:30px;
}

.problemname{
	font-size:15px;
}

.problem-body{

  width:600px;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}


@media(max-width: 670px){

	.problem-table th{
	font-size:16px;
	padding-top:10px;
	}
	.problem-table td{
	font-size:14px;
	}
	.problem-wrapper h1{
	font-size:20px;
	}
	.problem-comment td{
	padding:0px;
	}
	.problemname{
	font-size:10px;
	}
	.problem-body {
	 width:130px;
	}
	.problem-category {
	font-size:15px;
	}
}

.problem-wrapper table{
	margin-top:10px;
}

.problem_btn {
	margin-top:8px;
	padding:10px 130px;
	background-color:#1f3a93;
	box-shadow:0 6px #444444;
	color:white;
}
.problem_btn:active {
	box-shadow:none;
	position:relative;
	top:6px;
}
.problem-category{
	border-bottom:1px solid #CCCCCC;
}

.problem-body2 {
	padding:15px;
	border-bottom:solid 1px;
}

.problem-comment-box{
	display:none;
	margin:50px auto;
	background-color: white;
	padding: 10px 0 40px;
	border-radius: 5px;
	width: 35%;
	height: auto;
	text-align: center;
}

.problem-comment-btn{
	margin-bottom:10px;
	background-color:white;
	padding: 5px 10px;
}

.problem-customer-image {
	border-radius:50%;
	border:1px solid #dddddd;
	margin-bottom:15px;
}

.fa-comment {
	margin:0 20px;
}

.customer-image {
	border-radius:50%;
	border:1px solid #dddddd;
	position:relative;
	left:-35px;
	top:10px;
}

.baby-customer-image{
	border-radius:50%;
	border:1px solid #dddddd;
}
