// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search{
	text-align:right;
	margin-top:20px;
}
ul.problem-list {
  padding: 0;
}
.problem-content{
	font-size:20px;
	word-wrap: break-word;
	margin-top:60px;
	background-color:#e6ecf0;
	padding:30px;
	border-radius: 10px;
}
.problem-comment{
	width:100%;
	font-size:15px;
}

.problem-wrapper h1{
	font-size:30px;	
}

.problemname{
	font-size:15px;
}

.problem-body{

  width:600px;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}


@media(max-width: 670px){
	
	.problem-table th{
	font-size:16px;
	padding-top:10px;
	}
	.problem-table td{
	font-size:14px;
	}
	.problem-wrapper h1{
	font-size:20px;
	}
	.problem-comment td{
	padding:0px;
	}
	.problemname{
	font-size:10px;
	}
	.problem-body {
	 width:130px;
	}
	.problem-category {
	font-size:15px;
	}
}

.problem-table {
	padding-bottom:20px;
	font-size:17px;
}

.problem_btn {
	margin-top:8px;
	box-shadow:0 6px  #808080 ;
}
.problem_btn:active {
	box-shadow:none;
	position:relative;
	top:6px;
}
.problem-category{
	border-bottom:1px solid black;
}
.problem-body2 {
	padding:15px;
}
